# aliases for BASH and ZSH
#
# https://apple.stackexchange.com/a/371868

alias motd='cat /run/motd.dynamic'
alias livepatch='sudo canonical-livepatch status --verbose'

# docker aliases
alias up='docker-compose up -d'
alias down='docker-compose down'
alias pull='docker-compose pull'
alias build='docker-compose up -d --build'
alias prune='docker image prune --all --force && docker volume prune --force'
cli () { docker exec -it ${PWD##*/} /bin/bash ; }
logs () { docker logs --follow ${PWD##*/} ; }
alias upgrade='docker-compose down && docker image prune --all --force &&
    docker volume prune --force  && docker-compose up -d'
alias rebootarr='docker restart radarr-preview sonarr-preview transmission sabnzbd jackett tautulli unifi-video jellyfin calibre-web'

# nvidia-smi alias
alias nvidia="watch -n 1 -c 'gpustat --color && nvidia-smi'"

# some more ls aliases
alias ll='ls -alFh'
alias la='ls -A'
alias l='ls -CF'

# why -2: https://unix.stackexchange.com/a/355391
alias tmux="tmux -2 attach || tmux -2"

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# http://f00bar.com/blog/2011/07/09/simple-robust-os-detection-in-bash-using-ostype/
case "$OSTYPE" in
  darwin*)  alias ls='ls -G' ;;
  linux*)   alias ls='ls --color=auto' ;;
esac
