# Ignore
/*
/.config/*
/.config/yarn
/.config/Transmission*
# Except
!/.oh-my-zsh/*
!.gitignore
!.gitconfig
!.vimrc
!.bash_profile
!.bashrc
!.README
!/.config/
!/.config/alacritty/alacritty.yml
!/.tmux/*
!/.tmux
!/.tmux.conf.local
!.colour-check.sh
# https://riptutorial.com/git/example/911/exceptions-in-a--gitignore-file
!.vim/
.vim/*
!.vim/autoload/
./vim/autoload/*
!/.vim/autoload/plug.vim
