# Ignore everything
/*
# Except the following
!.gitignore
!.gitconfig
!.vimrc
!.bash_profile
!.bashrc
!.README
!/.config
!/.config/alacritty/alacritty.yml
!/.config/htop/htoprc
!/.tmux.conf
!/.tmux.conf.local
!.colour-check.sh
